<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <div class="ui container">
      <a class="active item">
        Home
      </a>
      <a class="item ">
        Friends
      </a>
      
      <div class="item right">
        <div class="ui simple dropdown item">
          Account
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Logout</div>
            <div class="item">Login</div>
            <div class="item">SignUp</div>
          </div>
        </div>
        <div class="ui primary button">Sign up</div>
      </div>
    </div>
  </div>
</div>