<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <div class="ui container">
      <a href="http://localhost:3000/" class="active item">
        Chatroom
      </a>
      <a class="item ">
        Message
      </a>
      
      <div class="item right">
        <div class="ui simple dropdown item">
          Account
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Logout</div>
            <div class="item">Login</div>
            <div class="item">SignUp</div>
          </div>
        </div>
        <div class="ui orange button">Sign up</div>
      </div>
    </div>
  </div>
</div>